<body class="homepage">
<h1 id="homepage">Welcome to Noob News</h1>

<p>All the News a Noob Needs to Know!</p>

<br>
<br>
<br>

<p class="links"><%= link_to "Click Here to View All Posts", posts_path %></p>

</body>