@import "bootstrap";

.logo {
  margin-top: 0.5%;
  width:20%;
  height:20%;
}

html {
  overflow-y: scroll;
}

body {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto; 
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align:center;
}

.center h1 {
  margin-bottom: 10px;
}


ul {
  list-style: none;
}

.navbar {
  height: 10%;
  background-color: purple;
}

.row {
  text-align: left;
}

li {
  padding-top: 10%;
}

.homepage {
  background-image: url(http://i.imgur.com/d9s4rze.jpg);
}

h1 {
  font-family: 'Knewave', cursive;
  font-size: 700%;
  text-shadow: -8px 0 purple;
  color: white;
}




















